{% set rel = (rel is defined) ? rel : 'blocks' %}

{%- block section %}
<section {% block section_attributes %}class='{% block section_class_attribute_value %}block {{ block.type }}{% endblock %}' rel='{{ rel }}' typeof='block'{% endblock %}>
    {% block section_content %}{% endblock %}
</section>
{%- endblock %}
