{% set rel = (rel is defined) ? rel : 'blocks' %}

{%- block section %}
<section {% block section_attributes %}class='prose max-w-none {% block section_class_attribute_value %}block {{ block.type }}{% endblock %}  {% if block['settings']['class_css'] is defined %}{{ block['settings']['class_css'] }}{% endif %}' rel='{{ rel }}' typeof='block'{% endblock %} >
    {% block section_content %}{% endblock %}
</section>
{%- endblock %}
