{% extends '@Block/html5/base.html.twig' %}

{% block section_content %}
    {% set defaultFormat = 'before_after' %}
    <div class="image-compare">
        {% block before %}
            {% if block['before'] is defined and block['before'] is not empty %}
                {% set resolved_image = (blockview) ? block['before'] : sulu_resolve_media(block['before']['id'], app.request.locale) %}
                <img src="{{ resolved_image.thumbnails[defaultFormat] }}" alt=""/>
            {% endif %}
        {% endblock %}
        {% block after %}
            {% if block['after'] is defined and block['after'] is not empty %}
                {% set resolved_image = (blockview) ? block['after'] : sulu_resolve_media(block['after']['id'], app.request.locale) %}
                <img src="{{ resolved_image.thumbnails[defaultFormat] }}" alt=""/>
            {% endif %}
        {% endblock %}
    </div>
{% endblock %}
