{% extends '@Block/html5/base.html.twig' %}


{% block section_content %}

    {% set displayOption = (blockview) ? blockview['image'].displayOption|default('left') : block['image']['displayOption']|default('left') %}
            <div class="mt-8 lg:grid lg:grid-cols-2 lg:gap-8">
                <div class="relative lg:row-start-1  {% if displayOption == 'left' %}lg:col-start-1{% else %}lg:col-start-2{% endif %}">
                    <div class="relative text-base mx-auto max-w-prose lg:max-w-none">
                        <figure>
                                {% block image %}
                                    {% include '@Block/html5/parts/image.html.twig' %}
                                {% endblock %}
                        </figure>
                    </div>
                </div>
                <div class="mt-8 lg:mt-0">
                    <div class="mx-auto text-base ">
                        <div>
                            <{{ block['heading']|default('h2') }} class="mt-2 text-3xl leading-8  tracking-tight text-gray-900 sm:text-4xl ">
                                {% block title %}
                                    {% include '@Block/html5/parts/title.html.twig' %}
                                {% endblock %}
                            </{{ block['heading']|default('h2') }}>
                        </div>
                    </div>
                    <div class="mt-5 text-gray-500 mx-auto lg:max-w-none lg:row-start-1 lg:col-start-1">
                        {% block text %}
                            {% include '@Block/html5/parts/text.html.twig' %}
                        {% endblock %}

                    </div>
                </div>
            </div>
{% endblock %}
