{% set block_property = (block_property is defined) ? block_property : 'youtube_identifier' %}

{%- block video_frame -%}
    <div class='embed-container'>
        <iframe
            {% block video_frame_attributes %}
            src='{% block video_frame_source %}{% if block['confidentiality'] %}https://www.youtube-nocookie.com{% else %}https://www.youtube.com{% endif %}/embed/{{ block[block_property] }}?autoplay={% if block['autoplay'] %}1{% else %}0{% endif %}&loop={% if block['loop'] %}1{% else %}0{% endif %}&modestbranding={% if block['modestbranding'] %}1{% else %}0{% endif %}{% endblock %}'
            longdesc='{% block video_frame_long_description %}www.youtube.com/watch?v={{ block[block_property] }}{% endblock %}'
            frameborder='{% block video_frame_border %}0{% endblock %}'
            allowfullscreen='{% block video_frame_allow_fullscreen %}true{% endblock %}'
            width='{% block video_frame_width %}{% if block['width'] %}{{ block['width'] }}{% else %}100%{% endif %}{% endblock %}'
            height='{% block video_frame_height %}{% if block['heigth'] %}{{ block['heigth'] }}{% else %}300px{% endif %}{% endblock %}'
            {% endblock %}
        >
        </iframe>
    </div>
{%- endblock -%}
